.searchResults__all {
    min-height: 90vh;
}
.searchResults__Master {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    /* border: 3px solid black; */
    padding-top: 45px;
    /* margin: 4vh 3vh; */
    /* min-height: 90vh; */
}
.searchResults__results {
    display: flex;
    flex-direction: row; 
    padding-top: 15px; 
}
.searchedResults__cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
}
.searchResults__noResults, .searchResults, .searchResults__none {
    display: flex; 
    flex-direction: column;
}
.searchResults__mappedListings, .searchResults__mappedListingsNone {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}

.searchResults__mappedListingsNone {
    padding-top: 32px;
}

.searchResults__noResultsFound {
    padding-top: 20px;
    padding-bottom: 25px; 
    font-weight: bolder; 
    font-size: 30px;
}
.productView__location{
    font-weight: bolder; 
    font-size: 15px; 
}
.searchResults__filter {
    display: flex;
    justify-content: space-around;
    padding-top: 6px;
}
.searchResults__filterNone {
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    padding-top: 0px;
}

.searchResults__resultsContainer {
    padding-top: 24px;
    margin: 0 auto;
}
