.user {
    display: inline;
}

.user__report {
    margin: 2% 2% 0 0;
    border-radius: 3px;
    float: right;
    border: 2px solid #37485C;
    background-color: #FAFAFA;
}

.user__person {
    display: flex;
    min-height: 85vh;
    justify-content: space-around;
    margin-top: 9vh;
}

.user__image {
    height: 150px;
    width: 150px;
    margin-right: 15px;
    border-radius: 50%;
}

.user__noImage {
    padding-top: 40px;
}

.user__userInfo {
    display: flex;
    background-color: #37485C;
    padding: 10px;
    border-radius: 5px;
    color: white;
    margin: 0 3vh;
}

.user__cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 3px solid black;
    padding: 1vh 0 2vh 0;
    margin: 0 3vh 3vh 4vh;
    width: 60vw;
    min-height: 80vh;
}

.user__card {
    color: black;
}

.user__location {
    margin-top: 20%;
}