.card {
    border: solid black 1px;
    margin: 5px;
    border-radius: 5px; 
    background-color: white;
}
.card__outerContainer {
    width: 200px;
    height: 325px;
}
.card__image {
    width: 200px;
    height: 225px;
}
.card__container {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    margin-bottom: 0px;
    padding: 20px 10px 0 10px;
    overflow: hidden;

}
.card__title {
    height: 50px; 
    font-size: 1.3em;
    text-align: center;
    font-weight: bolder;
    padding-top: 10px;  
}
