.home {
    display: flex;
    flex-direction: column;
    
}
.home__filter {
    display: flex;
    justify-content: space-around;
    padding-top: 230px;
}
.home__cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
    min-height: 90vh;
}
.home__card {
    color: black;
}
a:hover{
    color: gray
}