.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__filter {
    display: flex;
    margin-top: 10px;
    width: 116vh;
    justify-content: space-between
}

.home__cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 125vh;
    margin-top: 10px;
    min-height: 90vh;
}

.home__card {
    color: black;
}

a:hover{
    color: blue
}