:root {
    --main-text-color: white;
}

.navBar {
    display: flex;
    background: #37485C;
}

.navBar__title {
    font-size: 40px;
    margin: 1.8% 2%;
    color: var(--main-text-color)
}

.navBar__navInput {
    margin: 0 auto;
    padding-top: 32px;
}



.navBar__smallNavs {
    display: flex;
    margin: 36px 40px;
    font-size: 22px;
}

.navBar__searchButton {
    height: 30px;
    margin-left: 10px;
    border-radius: 3px;
}

h2 {
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: var(--main-text-color)
}
