.navbar2__input {
    height: 10px;
}


.item {
    color: white
}
.loggedOut {
   padding: 100px;
}

.ui__loggedIn {
    /* display: flex;
    align-items: center; */
}
.mainHeader {
    /* display: flex;
    flex-direction: row; */
}
.header {
  
}
.mainTitle {
    
}
@media only screen and (max-width: 768px){
    /* .mainHeader {
    display: flex;
    flex-direction: column;
    
    }
    .rightMenu {
        margin: 0 auto;
    } */
}