.navbar2__input {
    height: 10px;
}


.item {
    color: white
}

.ui__loggedIn {
    display: flex;
    align-items: center;
}
.dropdownVisible {
    display: none;
}
.nonDropVisible {
    display: block;
}

.two {
    padding-right: 10px;
}
@media only screen and (max-width: 768px){
    .dropdownVisible {
        display: block;
    }
    .nonDropVisible {
        display: none;
    }
}