.footer {
    height: 80px;
    display: flex;
    background-color: #37485C;
    color: white;
    padding-top: 32px;
    justify-content: space-around;
}

.footer__title {
    margin-left: 36.1%;
    color: white;
}

.footer__links {
    display: flex;
}

a {
    padding: 0 10px;
    color: white;
}

@media only screen and (max-width: 768px) {
    .footer__links {
        display: flex;
    }
    .footer__title {
        display: none;
        padding: 100px;
    }
    a {
        padding: 0 30px;
    }
}