.footer {
    height: 80px;
    display: flex;
    background-color: #37485C;
    color: white;
    padding-top: 32px;
    justify-content: space-around;
}

.footer__title {
    margin-left: 36.1%;
    color: white;
}

.footer__links {
    display: flex;
}

a {
    padding: 0 10px;
    color: white;
}