:root {
    --main-second-header: black;
    --main-text-color: white;
}

.secondNav__mainList {
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
    height: 70px;
    background-color: var(--main-second-header);
    color: var(--main-text-color);
}

.secondNav__subList {
    display: flex;
    justify-content: space-around;
    background-color: #DBDBDB;
}

li {
    list-style-type: none;
}

h3 {
    cursor: pointer;
}

.hidden {
    height: 0px;
    overflow: hidden;
}

.secondNav__orchestralH, .secondNav__guitarsH, .secondNav__keyboardsH, .secondNav__drumsH, .secondNav__otherH, .secondNav__audioH, .secondNav__servicesH {
    padding-top: 16px;
    width: 130px;
    font-size: 20px;
}

.secondNav__orchestral, .secondNav__guitars, .secondNav__keyboards, .secondNav__drums, .secondNav__other, .secondNav__audio, .secondNav__services {
    width: 130px;
}